.ui-icon-main::after {
	background: url('../img/main.png') no-repeat;
	background-size: 20px 20px;
}

.ui-icon-classify::after {
	background: url('../img/classify.png') no-repeat;
	background-size: 17px 17px;
	background-position: 3px 2px;
}

.ui-icon-me::after {
	background: url('../img/me.png') no-repeat;
	background-size: 20px 20px;
}

.ui-icon-order::after {
	background: url('../img/order.png') no-repeat;
	background-size: 20px 20px;
}

.ui-icon-pay::after {
	background: url('../img/pay.png') no-repeat;
	background-size: 18px 18px;
	background-position: 2px 2px;
}

.ui-icon-receive::after {
	background: url('../img/receive.png') no-repeat;
	background-size: 24px 24px;
}

.ui-icon-sent::after {
	background: url('../img/send.png') no-repeat;
	background-size: 20px 20px;
	background-position: 0.5px 2px;
}

.ui-icon-finish::after {
	background: url('../img/finish.png') no-repeat;
	background-size: 20px 20px;
	background-position: 1px 0px;
}

.pick_up{
	width: 85%;
	height: 100%;
	margin: 0% 7.5%;
	/* background-color: #0088FF; */
}
.pick_up h2{
	margin: 5% 0 3%;
}

.pick_up input{
	width: 100%;
	height: 50px;
	margin-top: 20px;
	border-radius: 5px;
	border: #333333 1px solid;
	padding-left: 10px;
}

.pick_up button{
	width: 104%;
	border-radius: 5px;
	margin-top: 20px;
	border: #333333 1px solid;
	height: 50px;
	padding: 0;
	color: white !important;
	background-color: #0088FF !important;
	text-shadow: 1px 1px 1px #0088FF !important;
}

.recommand_order_info{
	width: 100%;
}

.recommand_order_info_title{
	text-align: center;
	color: #333333;
	font-size: 20px;
	margin: 3% 0 0 0;
	font-weight: 600;
}

.recommand_order_info_content>ul{
	padding: 0 5% 0;
}

.recommand_order_info_content>ul>li{
	list-style: none;
	margin: 5% 0 0 0;
	border-bottom:rgba(0,0,0,0.3) 1px solid;
	font-size: 17px;
	height: 50px;
	line-height: 50px;
	color: #000000;
	
}
.recommand_order_info_content>ul>li>p>span{
	color: rgb(102, 102, 102);
}

.recommand_order_info_content>button{
	width: 92%;
	margin: 3% 4% 0;
	border: none;
	height: 45px;
	border-radius: 50px;
	background-color: #0088FF;
	color: white;
	text-shadow: 1px 1px 1px #0088FF;
}

/* 遮罩层 */
.mask {
	background-color: #4F535F;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	display: none;
	text-align: center;
	z-index: 2;
	opacity: 0.6;
}

.modal {
	z-index: 3;
	position: fixed;
	width: 100%;
	background-color: white;
	margin: auto;
	opacity: 1;
	border-radius: 20px 20px 0 0;
	height: 0px;
	bottom: 0;
}


#index {
	z-index: 1;
}

/* 页面高度自适应 */
#page {
	z-index: 10;
	padding: 0;
	left: 0 !important;
	right: 0;
	top: 43px !important;
	bottom: 60px !important;
	position: absolute !important;
	background-color: white;
	z-index: 10;
}

#classify_page {
	width: 100%;
	height: 100%;
}

#classify {
	width: 30%;
	height: 100%;
	background-color: rgb(246, 246, 246);
	position: fixed;
}

#classify>ul>li {
	width: 100%;
}

#classify>ul>li>a {
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	text-align: center;
	border: none;
}

/* 清除分类导航点击效果 并设置自己的点击效果 */
#classify .ui-btn-active {
	background-color: rgb(246, 246, 246) !important;
	color: #26a2ff;
	text-shadow: 0 1px 0 #f3f3f3;
	border-left: 3px solid #26a2ff;
	background-color: white !important;
}

#classify_content {
	width: 60%;
	height: 100%;
	position: absolute;
	background-color: white;
	margin-left: 35%;
}

/* 清除主页和订单导航点击效果 并设置自己的点击效果 */
#order_nav .ui-btn-active,
#main_nav .ui-btn-active {
	background-color: rgb(246, 246, 246) !important;
	color: #26a2ff;
	text-shadow: 0 1px 0 #f3f3f3;
	border-bottom: 2px solid #26a2ff;

}

#nav .ui-btn-active {
	background-color: #26a2ff !important;
}

.order_logo {
	position: absolute;
	top: 40%;
	left: 33%;
	width: 34%;
	text-align: center;
	color: #B8D4FF;
}


.ui-btn:focus {
	box-shadow: none !important;
}

#order_nav ul li a,
#main_nav ul li a,
#nav ul li a,
#place_order_nav ul li a {
	border: none;
}

#place_order_nav {
	background-color: rgb(246, 246, 246);
}

#place_order_nav ul li a {
	border-radius: 50px;
}

#place_order_nav .ui-btn-active {
	border-radius: 50px;
	background-color: #26a2ff;
}

#main_nav>ul>li>a {
	font-size: 16px;
	background-color: rgb(246, 246, 246) !important;
}

#info {
	width: 100%;
	height: 100px;
	/* background-color: aquamarine; */
}

#tx {
	width: 70px;
	height: 70px;
	float: left;
	margin-top: 15px;
	margin-left: 2.5%;
}

#tx img {
	height: 70px;
	border-radius: 50%;

}

#login {
	font-size: 20px;
	margin-top: 35px;
	margin-left: 20px;
	float: left;
	color: black;
}

#money {
	position: relative;
	width: 95%;
	height: 120px;
	margin-left: 2.5%;
	background: linear-gradient(to right, rgb(47, 128, 237), rgb(86, 204, 242));
	/* margin-top: 5px; */
	margin-bottom: 5px;
	border-radius: 10px;

}

#money_title {
	position: absolute;
	font-size: 15px;
	margin-left: 15px;
	margin-top: 15px;
	color: #A1EBFF;
	text-shadow: 0px 1px 1px rgb(35, 170, 250);
}

#money_num {
	position: absolute;
	color: white;
	text-shadow: 0px 1px 1px rgb(35, 170, 250);
	font-size: 30px;
	margin-top: 55px;
	margin-left: 15px;
}

#money_buy,
#money_cash {
	position: absolute;
	background-color: white;
	color: rgb(35, 170, 250);
	text-shadow: 0px 1px 1px white;
	font-size: 16px;
	width: 60px;
	text-align: center;
	height: 35px;
	line-height: 35px;
	border-radius: 25px 0 0 25px;
	right: 1px;
}

#money_cash {
	top: 50px;
}

#ord {
	position: relative;
	width: 100%;
	height: 130px;
	background-color: white;
	margin-bottom: -22px;
}

#ord_title {
	float: left;
	width: 72px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	color: #333333;
	font-weight: 500;
	margin-top: 10px;
	margin-left: 10px;
}

#ord_all {
	float: right;
	width: 75px;
	height: 20px;
	line-height: 20px;
	font-size: 15px;
	color: #333333;
	text-decoration: none;
	font-weight: 400;
	margin-top: 10px;
	margin-right: 5px;

}

#pay,
#receive,
#send,
#finish {
	position: absolute;
	font-size: 15px;
	width: 45px;
	background-color: white;
	border: none;
	top: 35px;
	left: 5%;
	color: #333333;
	font-weight: 400;
}

#tool {
	width: 100%;
	border: none;

}

#tool>ul {
	box-shadow: none;
}

#tool>ul>li>a {
	font-size: 15px;
	font-weight: 500;
	height: 25px;
	line-height: 25px;
	background-color: white;
	color: #333333;
	border-radius: 0px;

	/* box-shadow: #23AFFB 1px 1px;//边框阴影 */
}

#cancel {
	width: 90%;
	margin-left: 5%;
	font-weight: 500;
	border-radius: 0.08rem;
	color: #FF4400;
	border: 1px solid #FF4400;
	background-color: white;
}

#main_img {
	position: relative;
}

#main_img img {
	width: 100%;
}

#spot {
	padding: 0px;
	list-style: none;
	height: 16px;
	position: absolute;
	left: 40%;
	bottom: 8%;
}

#spot span {
	margin-left: 5px;
	padding: 0px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #d5d5d5;
	border-radius: 50%;
	cursor: pointer;
}

#recommand_title {
	color: #26a2ff;
	text-align: center;
	font-size: 16px;
	height: 16px;
	line-height: 16px;
}

#recommand_order_list,#order_list{
	width: 100%;
}

#recommand_order_list>ul,#order_list>ul{
	width: 95%;
	margin: 0 2.5% !important;
}

#recommand_order_list>ul>li>a,#order_list>ul>li>a{
	border: #26a2ff 1px solid;
	border-radius: 5px;
	/* height: 215px; */
	margin: 5% 0;
	background-color: #F6F6F6;
	padding: 0;
}


#recommand_order_list>ul>li>a>button{
	background: linear-gradient(to right, #0088FF, rgb(47, 128, 237)) !important;
	float: right;
	width: 40%;
	color: white;
	text-shadow: 1px 1px 1px #0088FF !important;
	border-radius: 30px;
	position: absolute;
	bottom: -1%;
	right: 2%;
}
.place_order_user{
	position: absolute;
	background: url(../img/tx1.jpg) no-repeat;
	background-size: 25px;
	padding-left: 30px !important;
	background-position: 0 10px;
	
	height: 45px;
	line-height: 45px;
	left: 2%;
	bottom: -4%;
	padding: 0;
	margin: 0;
	font-size: 18px !important;
}

.order_footer{
	background: url(../img/tx1.jpg) no-repeat;
	background-size: 25px;
	background-position: 0 17.5px;
	height: 60px;
	padding: 0 0 0 30px;
	margin: -3% 2% 0 2%;
}
.order_footer>button{
	background: linear-gradient(to right, #0088FF, rgb(47, 128, 237)) !important;
	float: right;
	width: 40%;
	color: white !important;
	text-shadow: 1px 1px 1px #0088FF !important;
	border-radius: 30px !important;
}
.order_user{
	float: left;
	margin: 0 0 !important;
	height: 60px;
	line-height: 60px;
	font-size: 16px !important;
}

.order_top{
	font-size: 15px !important;
	margin: 0 0 !important;
	padding: 2% 3%;
	border-bottom: 2px #0088FF dashed;
}

.order_remarks{
	font-size: 16px !important;
	margin: 0 0 !important;
	padding: 2% 0 2% 3%;
	color: #0088FF;
}
.order_remarks>span{
	color: #000000;
}


.order_statement,.order_reward{
	float: right;
	color: red;
}




.order_header{
	font-size: 17px !important;
	font-weight: 600 !important;
	margin: 0 0 !important;
	padding: 2% 3% 0%;
	color: #0088FF;
}
.order_title{
	color: #000000;
}
.order_reward{
	color: red;
	float: right;
}
.address_top,.address_bottom{
	margin: 3% 0;
	padding-left: 15%;
	background: url(../img/yellow.png) no-repeat;
	background-size: 30px;
	background-position: 5% 0;
}

.address_bottom{
	background-image: url(../img/green.png);
}

.address_bottom>h3,.address_top>h3{
	font-size: 20px !important;
	margin: 0 0 0!important;
}

.address_bottom>p,.address_top>p{
	color: rgb(102, 102, 102) !important;
	font-size: 15px !important;
	margin: 1.5% 0 0!important;
}





.delivery_content,
.delivery_header,
.delivery_footer {
	width: 90%;
	margin: 5%;
	height: 100px;
	border: #26a2ff 1px solid;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: 2% 45%;
	position: relative;
}

.delivery_content {
	height: 50px;
	background-image: url(../img/eat_write.png);
}

.delivery_content>p {
	line-height: 50px;
	color: #BBBBBB;
	margin: 0% 18%;
}

.delivery_header {
	background-image: url(../img/black.png);

}

.delivery_footer {
	color: red;
	background-image: url(../img/red.png);
}


.delivery_header>h3,
.delivery_footer>h3,
.delivery_time>h3 {
	margin: 6% 18% 0%;
}

.delivery_header>p,
.delivery_footer>p {
	color: #BBBBBB;
	margin: 3% 18%;
}

.delivery_input {
	border: none;
	width: 60%;
	height: 35px;
	margin: 5px 17.5%;
	outline: none;
	color: #0088FF;
}

.delivery_but>button {
	width: 90%;
	margin: 8% 5%;
	color: white !important;
	background-color: #0088FF !important;
	text-shadow: 1px 1px 1px #0088FF !important;
}

.common_address {
	position: absolute;
	top: 15%;
	right: 7%;
	text-align: center;
}

.common_address span {
	display: block;
	margin-top: 3px;
	color: black;
}
